@import "tailwindcss";
@import "./styles/fonts.css";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
:root {
  --text-color: #ffffff;
}
@layer base {
  html {
    font-family: "Manrope", system-ui, sans-serif;
  }
  body {
    @apply font-normal;
  }
}
